@page "/"
@using CPRG211FinalProject.Components.Utils

<div style="text-align: center">
    <div>
        <h2>Locate customers in database</h2>
    </div>
    <div>
        <input style="border: 0; border-radius: 5px; background-color: #d9d9d9; margin-bottom: 10px; padding-left: 10px;" @bind="firstName" placeholder="First Name">
    </div>
    <div>
        <input style="border: 0; border-radius: 5px; background-color: #d9d9d9; margin-bottom: 10px; padding-left: 10px;" @bind="lastName" placeholder="Last Name">
    </div>

    <div class="justify-content-center">
        <button @onclick="SearchCustomers" class="bg-success" style="border-radius: 10px; border: 0; min-width: 90px;">Search</button>
    </div>

    <br/>
    
    @if (customers.Count != 0)
    {
        <div>
            <h3>Customer(s) found:</h3>
        </div>
    }
    
    @foreach (var customer in customers)
    {
        <div class="rounded px-3 py-2 mb-2" style="background-color: #d9d9d9; min-width: 500px">
            <div class="w-100" style="min-width: fit-content;">
                <div class="row">
                    <div class="col-6">
                        <div>@customer.FirstName</div>
                        <div>@customer.LastName</div>
                    </div>
                    <div class="col-6">
                        <div>@customer.Email</div>
                        <div>@customer.PhoneNumber</div>
                    </div>
                    <div class="col-6">
                        <div>@customer.Memberships</div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    @if (searchReturnedNone)
    {
        <p style="color: #2c3034;">No results found</p>
    }
</div>

@code {
    private string firstName { get; set; }
    private string lastName { get; set; }
    private List<CustomerObj> customers = new();
    private bool searchReturnedNone { get; set; }

    private async Task SearchCustomers()
    {
        if (string.IsNullOrWhiteSpace(firstName) && string.IsNullOrWhiteSpace(lastName))
        {
            searchReturnedNone = true;

            if (customers.Count != 0) customers.Clear();
            
            return;
        }
        
        searchReturnedNone = false;
        customers.Clear();
        
        var data = await new Database().ExecuteQueryWithResult($"SELECT * FROM customer WHERE FirstName = '{firstName}' OR LastName = '{lastName}'");
        
        foreach (var customer in data)
        {
            customers.Add(new CustomerObj(
                Convert.ToInt32(customer["ID"]),
                (string)customer["FIRSTNAME"],
                (string)customer["LASTNAME"],
                (string)customer["EMAIL"],
                (string)customer["PHONENUMBER"],
                null
                ));

            
            if ((string)customer["FIRSTNAME"] == firstName && (string)customer["LASTNAME"] == lastName) // stop iterating if an exact match is found
            {
                break;
            }
        }

        firstName = null;
        lastName = null;
    }
}